/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "helvetica Neue", sans-serif;
  font-size: 1.6rem;
  background-color: #bdbdbd;
}